/* Scss Document */

/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.no-hover{
  pointer-events: none;
}

.stand-alone-button {
  padding: 8px 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 117px;
  margin: 30px 0 50px;
  box-shadow: 0px 0px 10px -5px var(--box-shadow);
  background: var(--elements-color);
  color: var(--text-color);
}

.border-button {
  color: var(--text-color);
  padding: 10px 28px;
  background: var(--elements-color);
  margin: 10px 10px 10px 0;
  text-align: center;
  flex-grow: 1;
  box-shadow: 0px 0px 10px -5px var(--box-shadow);
}

.buttons-container {
  font-size: 14px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 44px;
  color: var(--text-color);
	button {
		border: none;
		color: var(--text-color);
		background: var(--background-color);
		padding: 16px;
		border-radius: 51%;
		width: 50px;
		&:hover {
			background-color: var(--elements-color);
			border-radius: 50%;
		}
	}
	svg {
		width: 40px;
		fill: var(--text-color);
		transform: rotate(-90deg);
		padding: 16px;
		&:hover {
			background-color: var(--elements-color);
			border-radius: 50%;
		}
		&:first-child {
			transform: rotate(-90deg);
		}
		&:last-child {
			transform: rotate(90deg);
		}
	}
}

.hide-button {
  display: none;
}

.disable-button {
  opacity: 0%;
}

.current-page {
  background-color: var(--elements-color);
  border-radius: 50%;
}